{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Dashboard</title>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<h1>Dashboard</h1>

<p>Total de registros: {{ total_registros }}</p>
<p>Produção total: {{ soma_total }} kg</p>
<a href="/">
    <button>Nova Simulação</button>
</a>

<canvas id="grafico" width="400" height="150"></canvas>

<script>
const labels = JSON.parse('{{ labels|safe }}');
const data = JSON.parse('{{ totais|safe }}');

new Chart(document.getElementById('grafico'), {
    type: 'line',
    data: {
        labels: labels,
        datasets: [{
            label: 'Produção',
            data: data
        }]
    }
});
</script>

</body>
</html>